*/cache
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__

/gtfs_schedule.db
/gtfs

.env
.env.*
!.env.example

*/node_modules
node_modules/

*/dist
dist/
/UI/dist

*/.astro
.astro/

.DS_Store

*/.vscode
.vscode

*/.pnpm-store
.pnpm-store
